@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Playwrite AU SA", serif;
}
header,
nav,
ul {
  height: auto;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
header {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 3px 15px #000;
}
ul {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
h1 {
  margin-top: 0;
  height: 20vh;
  width: auto;
  z-index: 2;
  position: absolute;
  font-family: "Playwrite AU SA", serif;
  font-size: 9.5rem;
  text-align: center;
  mix-blend-mode: overlay;
  color: #fff;
  font-weight: 800;
}
h2 {
  text-decoration: underline;
}
.headerVid {
  position: absolute;
  margin-top: -550px;
  clip: text;
  position: relative;
  height: auto;
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  color: #000;
  font-size: 1.3rem;
  text-decoration: none;
}
.infoUserBtn {
  text-align: center;
  margin: 5px;
  height: 5vh;
  width: 9vw;
  font-size: 1.2rem;
  font-family: "Playwrite AU SA", serif;
  border-radius: 10px;
  border: 2px solid #000;
  background: transparent;
  filter: drop-shadow(0px 0px 3px #000);
}
.info {
  /*le ::content permet de ciblé le contenus*/
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Playwrite AU SA", serif;
  font-size: 1rem;
  color: #fff;
  height: auto;
  width: 100%;
  bottom: 0;
}
.infoUserBtn:hover {
  cursor: pointer;
  transition: background-color 1s ease;
  background-color: #000;
  color: burlywood;
}
.info_for_user {
  display: none;
}
.mainContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 100%;
}
.carte {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
  margin: 25px;
  height: 30vh;
  width: 45vw;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #000;
  overflow: hidden;
  background-color: #fff;
}
.blckA,
.blckB {
  height: auto;
  max-width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.carteblckTxt {
  margin: 0;
  padding: 3px;
  height: 13vh;
  width: 18vw;
  overflow: hidden;
}
.paraTxt {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 45ch;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 0;
}
hr {
  align-items: center;
  height: 28vh;
  width: 2px;
  background-color: #000;
  border: none;
}
figure {
  margin: 0;
  padding: 0;
  height: auto;
  max-width: 50vw;
  border-radius: 10px;
}
img {
  height: 23vh;
  width: 25vw;
  border-radius: 10px;
}
figcaption {
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
  text-align: center;
  font-size: 1rem;
}
footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  bottom: 0;
  position: relative;
  height: 15vh;
  width: 100%;
  background: url("image/papper3.jpg") no-repeat 50% 50%;
  background-size: cover;
  box-shadow: 0px -3px 15px #000;
  overflow: hidden;
}
.footVid {
  transform: translate(0, 250px);
  height: auto;
  width: 100%;
  z-index: 0;
  opacity: 0.4;
}
small {
  position: absolute;
  z-index: 99;
  text-shadow: 0px 0px 3px #000;
  color: #fff;
  font-size: 1.4rem;
}
h4 {
  top: 0;
  position: absolute;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
}
.btnV {
  z-index: 10;
  position: relative;
  height: 5vh;
  width: 8vw;
  border-radius: 10px;
  border: none;
  font-size: 1.6rem;
  background-color: cornflowerblue;
  color: #fff;
  font-family: "Playwrite AU SA", serif;
  text-shadow: 0px 0px 3px #000;
}
.btnV:hover {
  cursor: pointer;
  transition: background-color 1s ease;
  background-color: #fff;
  color: burlywood;
}
/*add js*/
.modifArtcl {
  transition: background-color 1.5s ease;
  color: burlywood;
  background-color: #000;
}
.modifImg {
  transition: filter 1.5s ease;
  filter: contrast(160%);
}
.dteContainer {
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  width: 100%;
}
.registerForm {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 100%;
}
.depart,
.arrive {
  font-size: 1.2rem;
  height: 3vh;
  width: 8vw;
  border-radius: 5px;
  border: none;
}
input[type="submit"] {
  height: auto;
  width: auto;
  background: none;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Playwrite AU SA", serif;
  border-radius: 10px;
  border-color: #fff;
}
input[type="submit"]:hover {
  cursor: pointer;
  transition: background-color 1s ease;
  background-color: #fff;
  color: burlywood;
}

/*expension add js*/
.expensionModal {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  z-index: 99;
  animation: expandAnime 1.5s ease 0s 1 normal forwards;
  color: burlywood;
  background-color: rgba(0, 0, 0, 0.955);
}
.expensionImg {
  animation: expandimgAnime 1.5s ease 0.4s 1 normal forwards;
}
.expensionTxt {
  margin-top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  animation: expandimgAnimetxt 1.5s ease 0.6s 1 normal forwards;
}
.apparition {
  display: flex;
  animation: apparitionAnime 1.2s ease 0.6s 1 normal forwards;
}
.expensionInfo {
  position: absolute;
  height: 25vh;
  background-color: #000;
  border-radius: 10px;
  z-index: 99;
  font-family: "Playwrite AU SA", serif;
  width: 25vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 5px;
  transition: 0.5s ease-in-out;
}
/*expension du container*/
@keyframes expandAnime {
  from {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  to {
    position: absolute;
    margin-top: 0;
    opacity: 1;
    height: 80vh;
    width: 90vw;
  }
}
/*expension de l'image*/
@keyframes expandimgAnime {
  from {
    opacity: 0;
    transform: translateX(400px);
    height: 0;
    width: 25vw;
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    height: 40vh;
    width: 50vw;
  }
}
/*expension du block text*/
@keyframes expandimgAnimetxt {
  from {
    height: auto;
    width: 50vw;
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    z-index: 99;
    height: auto;
    width: 50vw;
    opacity: 1;
    transform: translateY(0px);
    height: 40vh;
    width: 50vw;
  }
}
/*apparition des input date*/
@keyframes apparitionAnime {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    display: flex;
    opacity: 1;
    transform: translateX(0px);
  }
}
